use_comet: False
api_key: 7UnASfYEEYgTW4nxdFN6dDhV4
model: classification
device: gpu

train_data: dataset_super_veiculos.csv
test_data: None
image_column: ref_image
target: cor
image_size: 512

weighted: False
optimizer: sgd
criterion: crossentropy
scheduler: cyclic
scheduler_step: 15

batch_size: 200
num_epochs: 250
learning_rate: .0001
num_workers: 0

layer_2_size: 4096
layer_4_size: 1024

time: 0
validation_interval: 1
checkpoint_interval: 20   